<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Shuffler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <style>
        .flex-grow {
            flex: 1 0 auto;
        }
    </style>
</head>
<body>
    <div id="vue" class="h-100">
        <div class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column" v-if="currentImage.link" :style="baseContainerStyle">
            <div class="card text-center m-3 w-100 h-100">
                <div class="card-header">
                    Image Shuffler
                </div>
                <div class="card-body d-flex flex-column flex-grow">
                    <div class="input-group mb-3">
                        <input v-model="albumUrl" @keyup.enter="onBtnClick(albumUrl)" :disabled="showLoader" type="text" class="form-control" placeholder="Imgur Album Url" aria-label="Imgur Album Url">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" @click="onBtnClick(albumUrl)" :disabled="showLoader">Shuffle!</button>
                        </div>
                    </div>
                    <div class="card flex-grow" :style="bgImageStyle"></div>
                    <div style="margin-top: 1.25rem;">
                        <span>{{currentImage.description}}</span>
                        <ul class="list-inline" style=" margin-bottom: 0;">
                            <li class="list-inline-item">Album: <a :href="albumUrl" target="_blank">{{album.title}}</a></li>
                            <li class="list-inline-item"><a :href="currentImageImgurLink" target="_blank">Open this image on imgur</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div v-else class="container-fluid h-100 d-flex align-items-center justify-content-center flex-column" :style="baseContainerStyle">
            <div class="card text-center m-3 w-75">
                <div class="card-header">
                    Image Shuffler
                </div>
                <div class="card-body d-flex flex-column flex-grow">
                    <div class="input-group mb-3">
                        <input v-model="albumUrl" @keyup.enter="onBtnClick(albumUrl)" :disabled="showLoader" type="text" class="form-control" placeholder="Imgur Album Url" aria-label="Imgur Album Url">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" @click="onBtnClick(albumUrl)" :disabled="showLoader">Shuffle!</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalTitle">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let imgurUrlPattern = /^http(?:s)?\:\/{2}(?:m\.)?imgur\.com\/(?:a|gallery)\/(.*)$/;
    let vue = new Vue({
        el: '#vue',
        data: {
            album: {},
            albumUrl: '',
            currentImage: {},
            error: false,
            showLoader: false
        },
        computed: {
            bgImageStyle() {
                return this.currentImage.link ? `background-image: url(${this.currentImage.link}); 
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;` : '';
            },
            baseContainerStyle() {
                return this.showLoader ? `background-color: #fff; opacity: 0.5;` : '';
            },
            currentImageImgurLink() {
                return this.currentImage.id ? `https://imgur.com/${this.currentImage.id}` : '';
            }
        },
        mounted() {
            let hash = window.location.hash;
            if (!!hash && hash.length > 1) {
                let albumId = hash.substr(1);
                this.albumUrl = `https://imgur.com/a/${albumId}`;
                this.getAlbum(albumId);
            }
        },
        methods: {
            onBtnClick(albumLink) {
                if (!imgurUrlPattern.test(albumLink)) {
                    this.showError('This is not imgur-album url');
                    return;
                }
                let albumId = imgurUrlPattern.exec(albumLink)[1];
                if (albumId != this.album.id) {
                    this.getAlbum(albumId);
                } else {
                    this.shuffle();
                }
            },
            getAlbum(albumId) {
                this.showLoader = true;
                fetch(`https://api.imgur.com/3/album/${albumId}`, {
                    headers: {
                        Authorization: 'Client-ID 0b80b885e3d6809'
                    }
                })
                .then(result => {
                    if (result.ok) {
                        return result.json()
                    } else {
                        throw 'There was an error while getting the album information';
                    }
                })
                .then(json => {
                    if (json.data && json.data.images) {
                        this.album = json.data;
                        this.showLoader = false;
                        window.location.hash = `#${albumId}`;
                        this.shuffle();
                    } else {
                        throw 'This album was corrupted or does not have images';
                    }
                })
                .catch(err => {
                    this.showLoader = false;
                    this.showError(err);
                })
            },
            shuffle() {
                let images = this.album.images;
                this.currentImage = images[Math.floor(Math.random()*images.length)];
            },
            showError(err) {
                this.error = err;
                $('#errorModal').modal();
            }
        }
    });
</script>
</html>