<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Image Shuffler</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
    <div id="vue" class="h-100">
        <div class="container h-100 d-flex align-items-center justify-content-center flex-column" :style="baseContainerStyle">
            <div class="card text-center mt-3 w-100">
                <div class="card-header">
                    Image Shuffler
                </div>
                <div class="card-body">
                    <div class="input-group mb-3">
                        <input v-model="albumUrl" @keyup.enter="onBtnClick(albumUrl)" :disabled="showLoader" type="text" class="form-control" placeholder="Imgur Album Url" aria-label="Imgur Album Url">
                        <div class="input-group-append">
                            <button class="btn btn-outline-primary" type="button" @click="onBtnClick(albumUrl)" :disabled="showLoader">Shuffle!</button>
                        </div>
                    </div>
                    <div class="card w-100 h-50" v-if="currentImage.link" :style="bgImageStyle"></div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="errorModalTitle">Error</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {{message}}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    let imgurUrlPattern = /^http(?:s)?\:\/{2}imgur\.com\/a\/(.*)$/;
    let vue = new Vue({
        el: '#vue',
        data: {
            currentImage: {},
            albumUrl: '',
            message: false,
            images: [],
            title: '',
            showLoader: false
        },
        computed: {
            bgImageStyle() {
                return this.currentImage.link ? `background-image: url(${this.currentImage.link}); 
                background-position: center center;
                background-repeat: no-repeat;
                background-size: contain;` : '';
            },
            baseContainerStyle() {
                return this.showLoader ? `background-color: #fff; opacity: 0.5;` : '';
            }
        },
        mounted() {
            let hash = window.location.hash;
            if (!!hash && hash.length > 1) {
                let albumId = hash.substr(1);
                this.albumUrl = `https://imgur.com/a/${albumId}`;
                this.shuffle(albumId);
            }
        },
        methods: {
            onBtnClick(albumLink) {
                if (!imgurUrlPattern.test(albumLink)) {
                    throw 'This is not imgur-album url';
                    return;
                }
                let albumId = imgurUrlPattern.exec(albumLink)[1];
                this.shuffle(albumId);
            },
            shuffle(albumId) {
                this.showLoader = true;
                fetch(`https://api.imgur.com/3/album/${albumId}`, {
                    headers: {
                        Authorization: 'Client-ID 0b80b885e3d6809'
                    }
                })
                .then(result => {
                    if (result.ok) {
                        return result.json()
                    } else {
                        throw 'There was an error while getting the album information';
                    }
                })
                .then(json => {
                    if (json.data && json.data.images) {
                        this.images = json.data.images;
                        this.title = json.data.title;
                        return fetch('https://api.random.org/json-rpc/1/invoke', {
                            body: JSON.stringify({
                                "jsonrpc": "2.0",
                                "method": "generateIntegers",
                                "params": {
                                    "apiKey": "14192d4a-d37a-46f6-b47f-38c6d474dbf3",
                                    "n": 1,
                                    "min": 0,
                                    "max": this.images.length - 1,
                                    "replacement": true
                                },
                                "id": 42
                            }),
                            method: 'POST',
                            headers: {
                                'Content-Type': 'application/json'
                            }
                        })
                    } else {
                        throw 'There was an error while imgur data processing';
                    }
                })
                .then(result => {
                    if (result.ok) {
                        return result.json()
                    } else {
                        throw 'There was an error while getting a random number';
                    }
                })
                .then(json => {
                    if (json.result && json.result.random && json.result.random.data) {
                        this.currentImage = this.images[json.result.random.data[0]];
                        this.showLoader = false;
                        window.location.hash = `#${albumId}`;
                    }
                })
                .catch(err => {
                    this.showLoader = false;
                    this.title = '';
                    this.message = err;
                    $('#errorModal').modal();
                })
            }
        }
    });
</script>
</html>